Package: libdtkcommon
Source: dtkcommon
Version: 0.0.1
Architecture: amd64
Maintainer: Deepin Packages Builder <packages@deepin.com>
Installed-Size: 16
Depends: dconf-gsettings-backend | gsettings-backend
Conflicts: libdtkcore5 (<< 5.5), libdtkgui5 (<< 5.5)
Breaks: libdtkcore5 (<< 5.5), libdtkgui5 (<< 5.5)
Section: libdevel
Priority: optional
Homepage: http://www.deepin.org/
Description: dtk common files
 dtkcommon contains a collection of common files(schemas, configs) for
 settings shared by dtk libraries.
